.app {
}
.app div,
form {
  display: flex;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
h1,
#strength p {
  color: var(--gray-400);
}
#password,
form {
  width: 555px;
  background-color: var(--gray-700);
}
#password {
  margin: 25px 0px 20px 0px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#password p {
  color: #54535a;
  font-size: 30px;
  font-weight: 700;
  margin-right: 0px;
  flex-grow: 1;
}
#password i,
#range p {
  font-size: 30px;
  font-weight: 700;
}
form {
  padding: 30px;
  flex-direction: column;
}
label,
#checkboxes,
button {
  font-size: 18px;
  font-weight: 500;
}
label,
#checkboxes {
  color: var(--gray-200);
}
#range {
  flex-wrap: wrap;
  margin-bottom: 15px;
  justify-content: space-between;
}
#range p,
#generate,
#password i {
  color: var(--green);
}
#range input,
#strength,
#generate {
  margin-top: 30px;
}
#range input {
  appearance: none;
  width: 100%;
  height: 8px;
  background-color: var(--gray-800);
}
#range input:active {
  background-color: var(--green);
}
#range input::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
}

#range input::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
}
#range input:active::-webkit-slider-thumb {
  background: var(--gray-800);
  border: var(--green) solid 2px;
}
#range input:active::-moz-range-thumb {
  background: var(--gray-800);
  border: var(--green) solid 2px;
}
#checkboxes {
  flex-direction: column;
}
#checkboxes input {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  margin-right: 25px;
  border: white solid 2px;
  display: grid;
  place-content: center;
}
#checkboxes input:hover {
  border-color: var(--green);
}
#checkboxes input:checked {
  border-color: var(--green);
  background-color: var(--green);
}
#checkboxes input:checked:before {
  content: "";
  width: 12px;
  height: 12px;
  box-shadow: inset 1em 1em var(--gray-700);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
#checkbox-container {
  margin-top: 20px;
}
#generate {
  justify-content: center;
  align-items: center;
}
#strength {
  background: var(--gray-800);
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.8px;
}
#calculated-strength p {
  color: var(--gray-200);
  font-size: 25px;
  margin-right: 5px;
}
#strength input {
  cursor: auto;
  margin-left: 8px;
  appearance: none;
  -moz-appearance: none;
  border: var(--gray-200) solid 2px;
  width: 11px;
  height: 28px;
}
#strength input:checked {
  border: none;
}
#strength .WEAK:checked {
  background-color: rgb(117, 239, 115);
}
#strength .MEDIUM:checked {
  background-color: var(--yellow);
}
#strength .STRONG:checked {
  background-color: var(--red);
}
#strength,
button {
  height: 70px;
  width: 100%;
}
button {
  background: var(--green);
  border: none;
  font-weight: 600;
  word-spacing: 20px;
}
input:hover,
button:hover,
i {
  cursor: pointer;
}
button:hover {
  background: none;
  border: var(--green) solid 2px;
  color: var(--green);
}
