* {
  --gray-200: hsl(252, 11%, 91%);
  --gray-400: hsl(251, 9%, 53%);
  --gray-700: hsl(247, 11%, 15%);
  --gray-800: hsl(248, 15%, 11%);
  --gray-900: hsl(252, 17%, 6%);
  --green: hsl(127, 100%, 82%);
  --yellow: hsl(42, 91%, 68%);
  --orange: hsl(13, 95%, 66%);
  --red: hsl(0, 91%, 63%);
  margin: 0px;
  padding: 0px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  box-sizing: border-box;
}
html,
body {
  background: linear-gradient(180deg, hsl(248, 15%, 11%), hsl(252, 17%, 6%));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
